{% extends 'base.html' %}

{% block title %} Form Page {% endblock %}
{% block content %}

<form action="/" method="POST">
    <h2>Send your feedback !</h2>
    <label for="username">Name:</label><br>
    <input type="text" name="username" id="feedback_username" placeholder="Enter your name:"><br><br>

    <!-- <label for="message">Message</label>
    <input type="text" name="message" id="message" placeholder="Enter your message:"> -->

    <input type="submit" value="Submit">

</form>
{% endblock %}