<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
</head>
<body>
   <form action="/submit" method="POST">
    <label for="">Username</label>
    <input type="text" name="username" placeholder="Enter your username:">

    <label for="">password</label>
    <input type="password" name="password" placeholder="Enter your password">
    <input type="submit" value="login">
   </form>
</body>
</html> -->

{% extends 'base.html' %}
{% block content %}
<h1>This is a login page.</h1>
{% endblock %}